*{
    margin: 0;
    padding: 0;
    
}
body{
    overflow-x: hidden;
    
}
.logobar{
    width: 400px;
    height: 400px;
    background-color: dodgerblue;
    border-radius: 5%;
 
    
}
.review{
    margin: 0 !important;
    padding: 0 !important;
    width: 100%;
    height: 50vh;
    background-image: url('./assests/testimonial-bg.jpg');
}
.box{
   width: 100%;

   
   padding: 20px 20px 20px 20px;
   border: 4px double dodgerblue;
}
.callculater{
    background-image: url('./assests/paralax-5.png');
    width: 100%;
    min-height: 300px;
    margin-top:40px;
    background-repeat: no-repeat;
    
}
.footer{
    width: 100%;
    min-height: 50vh;
    background-color: white;
}
.navbar-toggler:focus{
    box-shadow: none;
    
}

.ani{
    animation: sree 3s  infinite linear;
}
@keyframes sree{
    0%{
        transform: translate(-15px , 0px);
    }
    50%{
        transform: translate(0px, -15px);

    }
    100%{
        transform: translate(-15px , 0px);
    }
}
.dam{
    position: relative;
    bottom: 25%;
    animation: dam 3s infinite linear;
}
@keyframes dam {
    0%{
        transform: translate(-45px , 0px);
    }
    50%{
        transform: translate(0px, -45px);

    }
    100%{
        transform: translate(-45px , 0px);
    }
}
@media screen and (max-width:576px){
    .img1{
        width: 80%;
        position: relative;
        left: 35px;
    }
}